In [ ]:
from tkinter import*
from PIL import Image,ImageTk
t=Tk()
t.geometry("1500x800+0+0")


#menu section
#company and model name
def companyname():
    company=e1.get()
    if company=='TATA':
        tata1=Label(t,text="Model name in TATA \n Availabe Models",font=("times new roman",18),bg="black",fg="white")
        tata1.place(x=630,y=200)     
        tata2=Label(t,text="1.Tata Nexon",bg="black",fg="white")
        tata2.place(x=700,y=270)     
        tata3=Label(t,text="2.Tata Tiago",bg="black",fg="white")
        tata3.place(x=700,y=300)
        tata4=Label(t,text="3.Tata Altroz",bg="black",fg="white")
        tata4.place(x=700,y=330)
        tata5=Label(t,text="4.Tata Harrier",bg="black",fg="white")
        tata5.place(x=700,y=360)
        tata6=Label(t,text="5.Tata Hexa",bg="black",fg="white")
        tata6.place(x=700,y=390)
        
    elif company=='HYUNDAI':
        hyundai1=Label(t,text="Model name in HYUNDAI \n Available Models",font=("times new roman",18),bg="black",fg="white")
        hyundai1.place(x=630,y=200)
        hyundai2=Label(t,text="1.Santro",bg="black",fg="white")
        hyundai2.place(x=700,y=270)
        hyundai3=Label(t,text="2.Verna",bg="black",fg="white")
        hyundai3.place(x=700,y=300)
        hyundai4=Label(t,text="3.Kona",bg="black",fg="white")
        hyundai4.place(x=700,y=330)
        hyundai5=Label(t,text="4.Auro",bg="black",fg="white")
        hyundai5.place(x=700,y=360)
        hyundai6=Label(t,text="5.Grand_io",bg="black",fg="white")
        hyundai6.place(x=700,y=390)
        
        
    elif company=='SUZUKI':
        suzuki1=Label(t,text="Model name in SUZUKI \n Available Models",font=("times new roman",18),bg="black",fg="white")
        suzuki1.place(x=630,y=200)
        suzuki2=Label(t,text="1.Vitara Brezza",bg="black",fg="white")
        suzuki2.place(x=700,y=270)
        suzuki3=Label(t,text="2.Swift",bg="black",fg="white")
        suzuki3.place(x=700,y=300)
        suzuki4=Label(t,text="3.Maruti",bg="black",fg="white")
        suzuki4.place(x=700,y=330)
        suzuki5=Label(t,text="4.Dzire",bg="black",fg="white")
        suzuki5.place(x=700,y=360)
        suzuki6=Label(t,text="5.Alto",bg="black",fg="white")
        suzuki6.place(x=700,y=390)
        
    elif company=='TOYATO':
        toyato1=Label(t,text="Model name in TOYATO\n Available Models",font=("times new roman",18),bg="black",fg="white")
        toyato1.place(x=630,y=200)
        toyato2=Label(t,text="1.Century",bg="black",fg="white")
        toyato2.place(x=700,y=270)
        toyato3=Label(t,text="2.Crown",bg="black",fg="white")
        toyato3.place(x=700,y=300)
        toyato4=Label(t,text="3.Premio",bg="black",fg="white")
        toyato4.place(x=700,y=330)
        toyato5=Label(t,text="4.Alion",bg="black",fg="white")
        toyato5.place(x=700,y=360)
        
        
    elif company=='AUDI':
        audi1=Label(t,text="Model name in AUDI\n Available Models",font=("times new roman",18),bg="black",fg="white")
        audi1.place(x=630,y=200)
        audi2=Label(t,text="1.S4",bg="black",fg="white")
        audi2.place(x=700,y=270)
        audi3=Label(t,text="2.SUVE",bg="black",fg="white")
        audi3.place(x=700,y=300)
        audi4=Label(t,text="3.A8",bg="black",fg="white")
        audi4.place(x=700,y=330)
        audi5=Label(t,text="4.A4",bg="black",fg="white")
        audi5.place(x=700,y=360)
    
        
    
    else:
        aNOTHER=Label(t,text="----INVALID COMPANY NAME----",font=("times new roman",18),bg="black",fg="white")
        aNOTHER.place(x=620,y=200)
    
    
    
    

def calculate():
    total_cost=0
    company=e1.get()
    model=e2.get()
    engine=e3.get()
    gear=e4.get()
    year=e5.get()
    km=e6.get()
    milege=e7.get()
    #TATA company calculate price by their features
    if company=='TATA':
    
      if model=='Tata Nexon':
        total_cost=300000
        if engine=='1000cc':
            total_cost=total_cost+100000
        elif engine=='2000cc':
            total_cost=total_cost+105500
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+15000
        else:
            gtatanexon=Label(t,text="Invalid Gear Details",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2015':
             total_cost=total_cost+10000
        elif year=='2016':
             total_cost=total_cost+14000
    
        elif year=='2017':
             total_cost=total_cost+17000
        elif year=='2018':
             total_cost=total_cost+18000
                
        elif year=='2019':
             total_cost=total_cost+19000
                    
        elif year=='2020':
             total_cost=total_cost+22000
        
        else:
            gtatanexon=Label(t,text=" Tata nexon  released in 2016  ",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+10000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+9000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+8000
            
        else:
            total_cost=total_cost+5000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='27':
            total_cost=total_cost+19000
            
        elif milege>='32'and milege<='38':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
      elif model=='Tata Tiago':
        total_cost=500000
        if engine=='1000cc':
            total_cost=total_cost+120000
        elif engine=='1500cc':
            total_cost=total_cost+155500
        elif engine=='2000cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+16000
        elif gear=='6':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text="This Model car is having only 5 and 6 Gears",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2016':
             total_cost=total_cost+15000
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Tata Tiago released in 2016  ",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+101000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+70000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+50000
            
        else:
            total_cost=total_cost+37000
        
        if milege<='10':
            total_cost=total_cost+11000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+13000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+19000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+28000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 30 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='Tata Altroz':
        total_cost=800000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='1700cc':
            total_cost=total_cost+155500
        elif engine=='2000cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+16000
        elif gear=='6':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text="This Car is having only 5 and 6 Gears",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2016':
             total_cost=total_cost+18000
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Tata Altroz released in 2016  ",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+111000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+78000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+54000
            
        else:
            total_cost=total_cost+37400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='Tata  Harrier':
        total_cost=880000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+16000
        elif gear=='6':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text="This model is having only 5 and 6 Gears",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2014':
             total_cost=total_cost+18000
        
        elif year=='2015':
             total_cost=total_cost+20000
        elif year=='2016':
             total_cost=total_cost+20000
        
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Tata  Harrier released in 2014  ",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+111000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+78000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+54000
            
        else:
            total_cost=total_cost+37400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
       
      elif model=='Tata  Hexa':
        total_cost=1000000
        if engine=='1500cc':
            total_cost=total_cost+200000
        elif engine=='1800cc':
            total_cost=total_cost+255500
        elif engine=='2000cc':
            total_cost=total_cost+380000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+76000
        elif gear=='6':
            total_cost=total_cost+99000
            
        else:
            gtatanexon=Label(t,text="This model is having only 5 and 6 gears",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2016':
             total_cost=total_cost+18000
        
       
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Tata  Hexa released in 2016 ",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+111000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+78000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+54000
            
        else:
            total_cost=total_cost+37400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='39':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 39 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
                            
      
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which is  displayed",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
    #HYUNDAI company data
    elif company=='HYUNDAI':
        
    
      if model=='Santro':
        total_cost=500000
        if engine=='1000cc':
            total_cost=total_cost+100000
        elif engine=='2000cc':
            total_cost=total_cost+105500
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='6':
            total_cost=total_cost+15000
        else:
            gtatanexon=Label(t,text=" This Model is having only six gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2015':
             total_cost=total_cost+10000
        elif year=='2016':
             total_cost=total_cost+14000
    
        elif year=='2017':
             total_cost=total_cost+17000
        elif year=='2018':
             total_cost=total_cost+18000
                
        elif year=='2019':
             total_cost=total_cost+19000
                    
        elif year=='2020':
             total_cost=total_cost+22000
        
        else:
            gtatanexon=Label(t,text="   HYUNDAI Santro released in 20160",font=("times new roman",18),bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+10000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+9000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+8000
            
        else:
            total_cost=total_cost+5000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='27':
            total_cost=total_cost+19000
            
        elif milege>='32'and milege<='38':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
      elif model=='Verna':
        total_cost=900000
        if engine=='1000cc':
            total_cost=total_cost+140000
        elif engine=='1500cc':
            total_cost=total_cost+159500
        elif engine=='2000cc':
            total_cost=total_cost+280000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+19000
        elif gear=='6':
            total_cost=total_cost+29000
            
        else:
            gtatanexon=Label(t,text="This model is having only 5 and 6 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2016':
             total_cost=total_cost+15009
        elif year=='2017':
             total_cost=total_cost+20008
    
        elif year=='2018':
             total_cost=total_cost+28900
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" HYUNDAI Verna released in 2016  ",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+61000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+50000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+49000
            
        else:
            total_cost=total_cost+38000
        
        if milege<='10':
            total_cost=total_cost+11000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+13000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+19000
            
        elif milege>='23'and milege<='37':
            total_icost=total_cost+28000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 37 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='Kona':
        total_cost=850000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+200000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='6':
            total_cost=total_cost+46000
        
            
        else:
            gtatanexon=Label(t,text="This model is having only 6 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2017':
             total_cost=total_cost+18000
        
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" HYUNDAI Kona released in 2017",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+51000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+38000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+34000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='Auro':
        total_cost=1000000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='4':
            total_cost=total_cost+16000
        elif gear=='5':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text="This model is having only 4 and 5 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2013':
             total_cost=total_cost+18000
        elif year=='2014':
             total_cost=total_cost+20000
        elif year=='2015':
             total_cost=total_cost+20000
        elif year=='2016':
             total_cost=total_cost+20000
        
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text="  HYUNDAI Auro released in 201",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+50000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+40000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+30000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
       
      elif model=='Grand_io':
        total_cost=1100000
        if engine=='1500cc':
            total_cost=total_cost+200000
        elif engine=='1800cc':
            total_cost=total_cost+255500
        elif engine=='2000cc':
            total_cost=total_cost+380000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+76000
        elif gear=='6':
            total_cost=total_cost+99000
            
        else:
            gtatanexon=Label(t,text="This model is having only  5 and 6 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2016':
             total_cost=total_cost+18000
        
       
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" HYUNDAI  Grand_io  released in 2016",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+111000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+78000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+54000
            
        else:
            total_cost=total_cost+37400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='39':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 39",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
                            
      
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which is  displayed",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
    
    #SUZUKI company data
    elif company=='SUZUKI':
        
    
      if model=='Vitara Brezza':
        total_cost=110000
        if engine=='1500cc':
            total_cost=total_cost+100000
        elif engine=='2000cc':
            total_cost=total_cost+105500
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='6':
            total_cost=total_cost+15000
        else:
            gtatanexon=Label(t,text="This Model is Having only six gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2017':
             total_cost=total_cost+10000
        
        elif year=='2018':
             total_cost=total_cost+18000
                
        elif year=='2019':
             total_cost=total_cost+19000
                    
        elif year=='2020':
             total_cost=total_cost+22000
        
        else:
            gtatanexon=Label(t,text="   Vitara Brezza released in 2017",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+10000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+9000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+8000
            
        else:
            total_cost=total_cost+5000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='27':
            total_cost=total_cost+19000
            
        elif milege>='32'and milege<='38':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
      elif model=='Swift':
        total_cost=900000
        if engine=='1000cc':
            total_cost=total_cost+140000
        elif engine=='1500cc':
            total_cost=total_cost+159500
        elif engine=='2000cc':
            total_cost=total_cost+280000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+19000
        elif gear=='6':
            total_cost=total_cost+29000
            
        else:
            gtatanexon=Label(t,text="This model is having only 5 and 6 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2012':
             total_cost=total_cost+15009
        elif year=='2013':
             total_cost=total_cost+20008
        elif year=='2014':
             total_cost=total_cost+25008
                
                
        elif year=='2015':
             total_cost=total_cost+29008
        elif year=='2016':
             total_cost=total_cost+34008
        elif year=='2017':
             total_cost=total_cost+38008
    
        elif year=='2018':
             total_cost=total_cost+40900
        elif year=='2019':
             total_cost=total_cost+45000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" SUZUKI swift  released in 201",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+61000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+50000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+49000
            
        else:
            total_cost=total_cost+38000
        
        if milege<='10':
            total_cost=total_cost+11000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+13000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+19000
            
        elif milege>='23'and milege<='42':
            total_icost=total_cost+28000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 42",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='Maruti':
        total_cost=300000
        if engine=='1500cc':
            total_cost=total_cost+12000
        elif engine=='2000cc':
            total_cost=total_cost+15550
       
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='4':
            total_cost=total_cost+46000
        
            
        else:
            gtatanexon=Label(t,text="This model is having only 4 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2010':
             total_cost=total_cost+1800
        elif year=='2011':
             total_cost=total_cost+2800
                
        elif year=='2012':
             total_cost=total_cost+28000
        elif year=='2013':
             total_cost=total_cost+28000
        elif year=='2014':
             total_cost=total_cost+2800
        elif year=='2016':
             total_cost=total_cost+2800
        elif year=='2017':
             total_cost=total_cost+2800
        
    
        elif year=='2018':
             total_cost=total_cost+2800
        elif year=='2019':
             total_cost=total_cost+4000
                
        elif year=='2020':
             total_cost=total_cost+5000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Maruti Suzuki released in 2010",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+51000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+38000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+34000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='Dzire':
        total_cost=1000000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='4':
            total_cost=total_cost+16000
        elif gear=='5':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text="This car is only 4 and 5 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2013':
             total_cost=total_cost+18000
        elif year=='2014':
             total_cost=total_cost+20000
        elif year=='2015':
             total_cost=total_cost+20000
        elif year=='2016':
             total_cost=total_cost+20000
        
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text="  Dzire  released in 2013",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+50000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+40000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+30000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
       
      elif model=='Alto':
        total_cost=100000
        if engine=='1500cc':
            total_cost=total_cost+20000
        
        else:
            etn=Label(t,text="Engine version is wrong",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='4':
            total_cost=total_cost+7600
        
            
        else:
            gtatanexon=Label(t,text="This car is having only 4 gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2016':
             total_cost=total_cost+1000
        
       
        elif year=='2017':
             total_cost=total_cost+2000
    
        elif year=='2018':
             total_cost=total_cost+2800
        elif year=='2019':
             total_cost=total_cost+4000
                
        elif year=='2020':
             total_cost=total_cost+5000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Alto  released in 2016",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+11100
        elif km>='100001'and km<='300000':
            total_cost=total_cost+7800
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+5400
            
        else:
            total_cost=total_cost+3740
        
        if milege<='10':
            total_cost=total_cost+1900
        elif milege>='11'and milege<='15':
            total_cost=total_cost+2000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+2900
            
        elif milege>='23'and milege<='39':
            total_icost=total_cost+3800
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 39",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
                            
      
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which is displayed",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
    #TOYATO company data
    elif company=='TOYATO':
        
    
      if model=='Century':
        total_cost=500000
        if engine=='1000cc':
            total_cost=total_cost+100000
        elif engine=='2000cc':
            total_cost=total_cost+105500
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='6':
            total_cost=total_cost+15000
        else:
            gtatanexon=Label(t,text="This model is having only six gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2015':
             total_cost=total_cost+10000
        elif year=='2016':
             total_cost=total_cost+14000
    
        elif year=='2017':
             total_cost=total_cost+17000
        elif year=='2018':
             total_cost=total_cost+18000
                
        elif year=='2019':
             total_cost=total_cost+19000
                    
        elif year=='2020':
             total_cost=total_cost+22000
        
        else:
            gtatanexon=Label(t,text="   Century released in 2016",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+10000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+9000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+8000
            
        else:
            total_cost=total_cost+5000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='27':
            total_cost=total_cost+19000
            
        elif milege>='32'and milege<='38':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
      elif model=='Crown':
        total_cost=900000
        if engine=='1000cc':
            total_cost=total_cost+140000
        elif engine=='1500cc':
            total_cost=total_cost+159500
        elif engine=='2000cc':
            total_cost=total_cost+280000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='5':
            total_cost=total_cost+19000
        elif gear=='6':
            total_cost=total_cost+29000
            
        else:
            gtatanexon=Label(t,text="This car is having only 5 and 6 Gears",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2016':
             total_cost=total_cost+15009
        elif year=='2017':
             total_cost=total_cost+20008
    
        elif year=='2018':
             total_cost=total_cost+28900
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Crown Released in 2016",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+61000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+50000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+49000
            
        else:
            total_cost=total_cost+38000
        
        if milege<='10':
            total_cost=total_cost+11000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+13000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+19000
            
        elif milege>='23'and milege<='37':
            total_icost=total_cost+28000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 37",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='Premio':
        total_cost=850000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+200000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='6':
            total_cost=total_cost+46000
        
            
        else:
            gtatanexon=Label(t,text="This car is having only 6 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2017':
             total_cost=total_cost+18000
        
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text=" Premio released in 2017",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+51000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+38000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+34000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+38000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='Alion':
        total_cost=1000000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='2500cc':
            total_cost=total_cost+180000
        
        else:
            etn=Label(t,text="Invalid Engine Details")
            etn.place(x=730,y=540)
        if gear=='4':
            total_cost=total_cost+16000
        elif gear=='5':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text="This car is Having only 4 and 5 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2013':
             total_cost=total_cost+18000
        elif year=='2014':
             total_cost=total_cost+20000
        elif year=='2015':
             total_cost=total_cost+20000
        elif year=='2016':
             total_cost=total_cost+20000
        
        elif year=='2017':
             total_cost=total_cost+20000
    
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text="  Alion released in 2013",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+50000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+40000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+30000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
       
      
                            
      
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which is displayed",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
            
    #AUDI company data
    elif company=='AUDI':
        
    
      if model=='S4':
        total_cost=5000000
        if engine=='200cc':
            total_cost=total_cost+1000000
        elif engine=='2500cc':
            total_cost=total_cost+1055000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='6':
            total_cost=total_cost+150000
        else:
            gtatanexon=Label(t,text="This Model is having only six gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2015':
             total_cost=total_cost+90000
        elif year=='2016':
             total_cost=total_cost+140000
    
        elif year=='2017':
             total_cost=total_cost+170000
        elif year=='2018':
             total_cost=total_cost+180000
                
        elif year=='2019':
             total_cost=total_cost+190000
                    
        elif year=='2020':
             total_cost=total_cost+220000
        
        else:
            gtatanexon=Label(t,text="   AUDI S4  released in 2016",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+100000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+90000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+80000
            
        else:
            total_cost=total_cost+50000
        
        if milege<='12':
            total_cost=total_cost+10000
        elif milege>='13'and milege<='18':
            total_cost=total_cost+13000
        elif milege>='23'and milege<='25':
            total_cost=total_cost+19000
            
        elif milege>='26'and milege<='30':
            total_icost=total_cost+28000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 38 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
      elif model=='SUVE':
        total_cost=6000000
        if engine=='1500cc':
            total_cost=total_cost+140000
        elif engine=='2500cc':
            total_cost=total_cost+159500
        elif engine=='3000cc':
            total_cost=total_cost+280000
        
        else:
            etn=Label(t,text="Inavlid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=100,y=630)
        if gear=='5':
            total_cost=total_cost+190000
        elif gear=='6':
            total_cost=total_cost+290000
            
        else:
            gtatanexon=Label(t,text="This car is having only 5 and 6 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2016':
             total_cost=total_cost+150090
        elif year=='2017':
             total_cost=total_cost+200080
    
        elif year=='2018':
             total_cost=total_cost+289000
        elif year=='2019':
             total_cost=total_cost+400000
                
        elif year=='2020':
             total_cost=total_cost+500000
                    
       
        
        else:
            gtatanexon=Label(t,text=" AUDI SUVE released in 2016",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+610000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+500000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+490000
            
        else:
            total_cost=total_cost+380000
        
        if milege<='10':
            total_cost=total_cost+110000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+130000
        elif milege>='16'and milege<='20':
            total_cost=total_cost+190000
            
        elif milege>='21'and milege<='26':
            total_icost=total_cost+280000
            
        else:
            
            
            milegetatanexon=Label(t,text=" limited milege is 26",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='A8':
        total_cost=8500000
        if engine=='1500cc':
            total_cost=total_cost+120000
        elif engine=='2000cc':
            total_cost=total_cost+155500
        elif engine=='3000cc':
            total_cost=total_cost+200000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='6':
            total_cost=total_cost+460000
        
            
        else:
            gtatanexon=Label(t,text="This car is having only 6 Gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2017':
             total_cost=total_cost+180000
        
    
        elif year=='2018':
             total_cost=total_cost+280000
        elif year=='2019':
             total_cost=total_cost+400000
                
        elif year=='2020':
             total_cost=total_cost+500000
                    
       
        
        else:
            gtatanexon=Label(t,text=" A8 released in 2017",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+510000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+380000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+340000
            
        else:
            total_cost=total_cost+274000
        
        if milege<='10':
            total_cost=total_cost+190000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+200000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+290000
            
        elif milege>='23'and milege<='30':
            total_icost=total_cost+380000
            
        else:
            milegetatanexon=Label(t,text=" limited milege is 30 ",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
      
      elif model=='A4':
        total_cost=10000000
        if engine=='2500cc':
            total_cost=total_cost+1200000
        elif engine=='3000cc':
            total_cost=total_cost+1555000
        elif engine=='3500cc':
            total_cost=total_cost+1800000
        
        else:
            etn=Label(t,text="Invalid Engine Details",font="times 18",bg="black",fg="white")
            etn.place(x=730,y=540)
        if gear=='6':
            total_cost=total_cost+16000
        elif gear=='7':
            total_cost=total_cost+19000
            
        else:
            gtatanexon=Label(t,text="This car is having only 6 and 7 gear",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        if year=='2017':
             total_cost=total_cost+180000
       
        elif year=='2018':
             total_cost=total_cost+28000
        elif year=='2019':
             total_cost=total_cost+40000
                
        elif year=='2020':
             total_cost=total_cost+50000
                    
       
        
        else:
            gtatanexon=Label(t,text="  AUDI A4 released in 2017",font="times 18",bg="black",fg="white")
            gtatanexon.place(x=730,y=540)
        
        if km>='0'and km<='100000':
            total_cost=total_cost+50000
        elif km>='100001'and km<='300000':
            total_cost=total_cost+40000
            
        elif km>='300001'and km<='600000':
            total_icost=total_cost+30000
            
        else:
            total_cost=total_cost+27400
        
        if milege<='10':
            total_cost=total_cost+19000
        elif milege>='11'and milege<='15':
            total_cost=total_cost+20000
        elif milege>='16'and milege<='22':
            total_cost=total_cost+29000
            
        elif milege>='23'and milege<='36':
            total_icost=total_cost+38000
            
        
        else:
            milegetatanexon=Label(t,text=" limited milege is 36",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=730,y=540)
            
       
      else:
            tatamodlecom=Label(t,text=" we Have only following \n model which is displayed",font="times 18",bg="black",fg="white")
            milegetatanexon.place(x=100,y=630)
    
    
                        
 
      
                            
    
   
    nexon=Label(t,text=total_cost,font="times 18",bg="black",fg="white")
    nexon.place(x=650,y=540)
        
        
        
        
        
    

image=Image.open("car images/bgCar.jpg")
photo=ImageTk.PhotoImage(image)
lbl=Label(t,image=photo)
lbl.place(x=0,y=80,relwidth=1,relheight=1)
        

title=Label(t,text="CAR DEKHO",anchor="center",fg="red",bg= "black")
title.config(font=("times new roman", 50),width=200)
title.pack()

li=Label(t,text="The best software for Price Estimation of Used Cars.",fg="white",bg= "black")
li.config(font=("times new roman",18))
li.pack(fill=X)

l1=Label(t,text="Enter the company name \n (write name in Capital Letters):",font=("TIMES NEW ROMAN",15,"bold"),fg="white",bg= "black")
l1.place(x=250,y=150)
e1=Entry(t,font=("times new roman",15),bg="black",fg="white")
e1.place(x=250,y=210)

bcom=Button(t,text="show model",command=companyname,font=("TIMES NEW ROMAN",15,"bold"),fg="white",bg= "black")
bcom.place(x=700,y=150)

l2=Label(t,text="Enter the model name:",font=("TIMES NEW ROMAN",15,"bold"),fg="white",bg= "black")
l2.place(x=1000,y=150)
e2=Entry(t,font=("times new roman",15),bg="black",fg="white")
e2.place(x=1000,y=200)

l3=Label(t,text="Engine type:",font=("TIMES NEW ROMAN",15,"bold"),fg="white",bg= "black")
l3.place(x=250,y=310)
e3=Entry(t,font=("times new roman",15),bg="black",fg="white")
e3.place(x=250,y=350)

l4=Label(t,text="no. of gear:",font=("TIMES NEW ROMAN",15,"bold"),fg="white",bg= "black")
l4.place(x=1000,y=310)
e4=Entry(t,font=("times new roman",15),bg="black",fg="white")
e4.place(x=1000,y=350)

l5=Label(t,text="Registeration year",font=("TIMES NEW ROMAN",15,"bold"),fg="white",bg= "black")
l5.place(x=250,y=450)
e5=Entry(t,font=("times new roman",15),bg="black",fg="white")
e5.place(x=250,y=490)


l6=Label(t,text="KM Driven",font=("TIMES NEW ROMAN",15,"bold"),fg="white",bg= "black")
l6.place(x=1000,y=450)
e6=Entry(t,font=("times new roman",15),bg="black",fg="white")
e6.place(x=1000,y=490)

l7=Label(t,text="Mileage",font=("TIMES NEW ROMAN",15,"bold"),fg="white",bg= "black")
l7.place(x=250,y=590)
e7=Entry(t,font=("times new roman",15),bg="black",fg="white")
e7.place(x=250,y=640)

b=Button(t,text="Check Price",font=("times new roman",20),bg="black",fg="Red",command=calculate,)
b.place(x=650,y=450,width=200, height=50)

b1=Button(t,text="Exit",bg="pink",font="times 22",command=t.destroy)
b1.place(x=700,y=600,width=125,height=70)



t.mainloop()